/* Завдання 1 --------------------------------------------- */
.usual{
	display: flex;
	flex-direction: column;
}
/* Завдання 1 --------------------------------------------- */
.images{
	position: relative;
	width: 100%;
	height: 600px;
}
.images img{
	max-width: 100%;
	object-fit: cover;
}
.image{
	position: absolute;
	max-width: 100px;
	max-height: 100px;
}